h1 {
  font-weight: 800;
  margin-bottom: 30px;
}

span {
  font-weight: 600;
}

p {
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80px;
  text-align: center;
  padding: 8px 10px;
  font-weight: 600;
}

.country-details-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  font-size: 1.6rem;
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.image-wrapper {
  width: 40%;
}

.details-wrapper {
  margin-left: 90px;
  width: 50%;
}

.details {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-right: 50px;
}

.borders {
  display: flex;
}

@media screen and (max-width: 767px) {
  h1 {
    margin-top: 30px;
  }
  .country-details-container {
    display: block;
    padding: 20px;
  }

  .image-wrapper {
    width: 100%;
  }

  .details-wrapper {
    margin: 0;
    width: 100%;
    padding-bottom: 50px;
  }

  .wrapper {
    display: block;
  }

  .details {
    display: block;
  }

  .left {
    margin: 0;
    margin-bottom: 50px;
  }
}
